.about {
	max-width: 500px;
	text-align: center;
	margin: 3em auto;
	color: #444;
	font-size: 1.2em;

	span {
		font-size: .85em;
		color: #CCC;
		line-height: 1.7;
	}

	.form {
		padding: 0 15px;	
	}
}
